# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
node_modules
dist
dist-ssr
dist-react
release
dist-electron
*.local

# Playwright browsers
playwright-browsers/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS certificates and signing
*.p8
*.p12
*.key
*.mobileprovision
*.cer
*.certSigningRequest
*.provisionprofile
